research/WCF/DemoRentalCarReservation/DemoRentalCarClient/Service References/RentalcarReference/RentalCarReservation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Check">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleClass" type="xs:int" />
        <xs:element minOccurs="0" name="location" type="xs:int" />
        <xs:element minOccurs="0" name="dates" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reserve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleClass" type="xs:int" />
        <xs:element minOccurs="0" name="location" type="xs:int" />
        <xs:element minOccurs="0" name="dates" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmationNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>